<!-- <app-header [title]="title"></app-header>

{{title}}

<h3 *ngIf="title==5">Đây là số 5</h3>

<select [ngSwitch]="title">
  <option *ngSwitchCase="1">1</option>
  <option *ngSwitchCase="2">2</option>
  <option *ngSwitchCase="3">3</option>
  <option *ngSwitchCase="4">4</option>
  <option *ngSwitchCase="5">5</option>
</select>

<ul *ngFor="let i of arr">
  <li>{{ i }}</li>
</ul>

<h1>Login</h1>
<form>
  <div>
    <label for="username">Username</label>
    <input type="text" id="username" #txtusername>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" #txtpassword>
  </div>
  <div>
    <button type="button" (click)="login(txtusername,txtpassword)">Login</button>
  </div>
  <p>{{ lg }}</p>
</form>
<app-footer (acceptData) = "acceptData($event)"></app-footer>
<h1>{{ft}}</h1> -->

<style>
  header {
    background: red;
    color: white;
    text-align: center;
    padding: 20px 0px;
  }
  nav {
    background: rgb(99, 9, 99);
    color: white;
    text-align: center;
    padding: 20px 0px;
  }

  main .container {
    display: flex;
  }
  main .sidebar{
    width:25%;
  }
  main .main{
    width: 75%;
  }

</style>

<header>
  <div class="container">
    Header
  </div>
</header>
<nav>
  <div class="container">
    Menu
  </div>
</nav>
<main>
  <div class="container">
    <div class="sidebar">
      <ul>
        <li><a routerLink="danh-muc/abc">Danh mục</a></li>
        <li><a routerLink="san-pham/abc">Sản Phẩm</a></li>
        <li><a routerLink="tin-tuc/abc">Tin Tức</a></li>
        <li><a routerLink="login">Đăng Nhập</a></li>
        <li><a routerLink="register">Đăng Ký</a></li>
        <li><a routerLink="lien-he.html">Liên Hệ</a></li>
      </ul>
    </div>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>